@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --theme-accent: #1a3626;
        --theme-bg: #fbf9f6;
        --theme-text: #1c1917;
        --theme-muted: #8a867d;
    }
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}
